.App {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;               
}

.title {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}